flow.json
[
    {
        "id": "c5b8f107.d8216",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32efe41c.3ff34c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fe0688a.d01988",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "afde7664.9b6ca8",
        "type": "http in",
        "z": 0,
        "name": "",
        "url": "/demo1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "115cd5f3.7d9c8a"
            ]
        ]
    },
    {
        "id": "115cd5f3.7d9c8a",
        "type": "function",
        "z": 0,
        "name": "",
        "func": "var require = context.global.get('require'); \n\n\nmsg.payload = \"This is a demo1 payload\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "67f28bb3.78fc34"
            ]
        ]
    },
    {
        "id": "67f28bb3.78fc34",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e6ec7b1.0d89a8",
        "type": "function",
        "z": "c5b8f107.d8216",
        "name": "",
        "func": "var require = context.global.get('require'); \n\n\n// old\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "1f963beb.688524"
            ]
        ]
    },
    {
        "id": "1f963beb.688524",
        "type": "console",
        "z": "c5b8f107.d8216",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "74899a0b.6e33b4",
        "type": "console",
        "z": "32efe41c.3ff34c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "539c8fc0.c96c2",
        "type": "http in",
        "z": "2fe0688a.d01988",
        "name": "",
        "url": "/demo1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a6b14b45.1ba638"
            ]
        ]
    },
    {
        "id": "a6b14b45.1ba638",
        "type": "function",
        "z": "2fe0688a.d01988",
        "name": "",
        "func": "var require = context.global.get('require'); \n\n\nmsg.payload = \"This is a demo1 payload\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 780,
        "y": 260,
        "wires": [
            [
                "e4e33623.b82cf8"
            ]
        ]
    },
    {
        "id": "e4e33623.b82cf8",
        "type": "http response",
        "z": "2fe0688a.d01988",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "1e9784ba.6d1a0b",
        "type": "function",
        "z": "32efe41c.3ff34c",
        "name": "",
        "func": "var require = context.global.get('require'); \n\n\nmsg.payload = \"HI parth\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "74899a0b.6e33b4"
            ]
        ]
    },
    {
        "id": "f3edc613.3e2598",
        "type": "inject",
        "z": "32efe41c.3ff34c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "1e9784ba.6d1a0b"
            ]
        ]
    },
    {
        "id": "d8212871.b48568",
        "type": "console",
        "z": "2fe0688a.d01988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7fa11ef.1afd4",
        "type": "http request",
        "z": "2fe0688a.d01988",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "shouldUnZip": true,
        "url": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d8212871.b48568"
            ]
        ]
    },
    {
        "id": "d06a5769.4dec98",
        "type": "function",
        "z": "c5b8f107.d8216",
        "name": "",
        "func": "var require = context.global.get('require'); \n\n\n// new\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "d8019269.89b48"
            ]
        ]
    },
    {
        "id": "d8019269.89b48",
        "type": "console",
        "z": "c5b8f107.d8216",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 460,
        "wires": []
    }
]